<div ng-init="init()">
    <div id="page-title">
        <!-- <div id="page-content">
            <div class="panel"> -->
        <div class="ibox float-e-margins">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Empresa:</label>
                            <select class="form-control" ng-model="tipoEmpresa.idTipoEmpresa" ng-options="empresa.idEmpresa as empresa.nombreEmpresa for empresa in empresaUsuario" name="txtTipoContrato" ng-change="cargaDocTipoContrato(nuevoContrato)">
                                <option value="">Seleccioné Empresa</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Tipo Nómina:</label>
                            <select class="form-control" ng-model="tipoNomina.idTipoNomina" ng-options="tipoNomina.idTipoNomina as tipoNomina.nomTipoNomina for tipoNomina in tipoNomina" name="txtTipoContrato" ng-change="cargaDocTipoContrato(nuevoContrato)" ng-click="getFileTree(tipoEmpresa.idTipoEmpresa,tipoNomina.idTipoNomina)">
                                <option value="">Seleccioné Tipo Nómina</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left: 8px" ng-show="yooo">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Arbol de Carpetas <small>Tipos de nómina</small></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div id="jstree1">
                                <ul>
                                    <li class="jstree-open">Meta 4
                                        <ul>
                                            <li>css
                                                <ul>
                                                    <li data-jstree='"type":"css"}'>animate.css</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" ng-show="yo">
            <div class="ibox-content" style="margin-left: 8px">
                <div >
                    <!-- <ul>
                        <li style="display: block; text-decoration: none;"><a style="cursor:pointer; color:black"><span class="glyphicon glyphicon-folder-open"></span>  {{filetree.name}}</a> -->
                            <ul ng-repeat="filetreed in filetree.children"  style="background-color:white;">
                                <li style="display: block; text-decoration: none;" ng-dblclick="ruta(filetreed)"><a style="cursor:pointer; color:black"><span class="glyphicon glyphicon-folder-open"></span>  {{filetreed.name}}</a>
                                    <ul ng-repeat="filetreechildren in filetreed.children"  style="background-color:white">
                                        <li style="display: block; text-decoration: none;" ng-dblclick="ruta(filetreechildren)"><a style="cursor:pointer; color:black"><span class=" glyphicon glyphicon-list-alt"></span>  {{filetreechildren.name}}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        <!-- </li> 
                    </ul>-->
                </div>
            </div>
            </div>
            <div class="col-lg-6" ng-show="yo">
                {{rutaCarpeta}}
                <form action="/upload" class="dropzone" drop-zone="" id="file-dropzone" style="color:black !important"></form>
            </div>
        </div>
    </div>
    <!-- /div>
    </div> -->
</div>
<style>
.jstree-open > .jstree-anchor > .fa-folder:before {
    content: "\f07c";
}

.jstree-default .jstree-icon.none {
    width: 0;
}
</style>
